.vs
Visits/obj
DataBase/bin
DataBase/obj
Interfaces/bin
Interfaces/obj/Debug
Interfaces/obj
MyWebApp/obj
Visits/bin
Models/bin
Models/obj
MyWebApp/bin
Common/bin
Common/bin
Common/obj
UnitTests/obj
UnitTests/bin
TestResults/2b210215-4244-40fe-acc6-f03a6f819ae1
UnitTests/bin
UnitTests/obj
