* {
    color: snow;
    font: 800;
    background-color: #1E1E1E;
}

a {
    color: #F8F8FF;
    letter-spacing: 10px;
    text-shadow: 0px 0px 0px black, 0 0 5px white, 0 0 0px black;
    font-family: Consolas;
    font-weight: bold;
    font-size: 35px;
    user-select: none;
    text-decoration: none;
    padding: 5px;
    padding-left: 8px;
}

table {
    width: 80%;
    border: 2px solid white;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}

caption {
    border: 2px solid white;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
}
