<!DOCTYPE html>

@model int?

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/Default.css" rel="stylesheet" />
    <link href="~/css/Everything.css" rel="stylesheet" />
    <link href="~/css/TopBar.css" rel="stylesheet" />

    <!--<meta http-equiv="refresh" content="3">-->

    <title>@ViewBag.Title</title>
</head>
<body>
    <form asp-controller="Visits" asp-action="DefinitVisit"
          asp-route-id=@Model method="get">
        <input asp-for="Value" type="number" class="idInputNumber">
    </form>

    <div>
        @RenderBody()
    </div>
</body>
</html>