@model System.Collections.Generic.IEnumerable<SQLVisitorInfo>

@{
    if (Model is null)
        throw new Exception("Found some troubles with data base or business logic");
    else
    {
        <div class="center" style="padding: 20px;">
            <table class="visitorsTable">
                <caption class="textCenter">Visitors</caption>
                <tbody>
                    <tr class="textCenter">
                        <th>ID</th>
                        <th>Date</th>
                        <th>MAC Address</th>
                        <th>IP</th>
                    </tr>
                    @foreach (var visitor in Model)
                    {
                        <tr class="textCenter">
                            <td>@visitor.Id</td>
                            <td>@visitor.Date</td>
                            <td>@visitor.MACAddress</td>
                            <td>@visitor.IP</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}