@model SQLVisitorInfo


@{
    if (Model is null)
    {
        <h1 class="center">Visitor not found</h1>
    }
    else
    {
        <div class="center" style="padding: 20px;">
            <table class="visitorsTable">
                <caption class="textCenter">Visitors</caption>
                <tbody>
                    <tr class="textCenter">
                        <th>ID</th>
                        <th>Date</th>
                        <th>MAC Address</th>
                        <th>IP</th>
                    </tr>
                    <tr class="textCenter">
                        <td>@Model.Id</td>
                        <td>@Model.Date</td>
                        <td>@Model.MACAddress</td>
                        <td>@Model.IP</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}